
/* #bg{
    background-color: aliceblue;
} */
.ff{
    width:30rem;
   padding: 3rem;
  
    margin-top:5rem;
    border-color: rgb(245, 230, 205);
    border-radius: 23px;
    border-width: 2px;   
}
.ss{
    width:20rem;
    
    height:40rem;

   padding: 2rem;
  
    margin-top:5rem;
    border-color: rgb(245, 230, 205);
    border-radius: 23px;
    border-width: 2px;
}

.p1{
    position: relative;
    margin-left: 20px;
}
.p2{
    position: relative;
    margin-left: 65rem;
}
.p3{
    position: relative;
    
    margin-left: -10px;
}

#sec{

    /* margin-left: 5.6rem;
     margin-right: -7rem; 
     */
    
    
    /* margin-left: -5rem; */
}


#first{
 
    /* margin-left: 5.6rem;
    margin-right: -7rem;  */
    /* margin-left: 0.5rem; 
    margin-right: 0.5rem; */
}

p{
    align-items: center;
    justify-content: center;
    margin: 0px 0px 20px 20px;
    /* color:rgb(255, 255, 255); */
    
}

#Img{
  
    /* height:20%;
    width:20%; */

}

.bg-image {
    /* The image used */
    background-image: url("https://img.freepik.com/free-photo/busy-business-people-walking_53876-138169.jpg?t=st=1649929825~exp=1649930425~hmac=5d0b03c66120e4b9bc9993fa684245dce231f43f1e56cd0510678b035020687d&w=996");
    
    /* Add the blur effect */
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
    
    /* Full height */
    height: 100%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  
.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(89, 89, 87, 0.8) !important;
}
.card-body-big{
    color: #fff;
    padding: 1rem 0 !important;
    background:linear-gradient(to right, #41d8dd, #5183ee);
    border-radius: 1em;
}
.card-body-small{
    color: #fff;
    padding: 1rem 0 !important;
    background:linear-gradient(to right, #54e38e, #41c7af);
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
}
.card-text{
    font-size: 0.9rem;
    padding: 0.2rem 2rem;
}
.card-title-big{
    color:white;
}

.card-title-small{
    color:white;
    padding: 0.2em 1em;
}

.container-fluid-row{

    padding-top:6rem;
}

.overflow{
    overflow: hidden;
}

/* p.card-text.text-secondary{
    color: red;
} */
#scards{
    height:auto;
    
    /* background-image: url("https://wallpaperaccess.com/full/2053899.jpg"); */
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    padding:3rem;
  }
  
#buttons{
    color:rgba(103, 103, 216, 0.8);
    border-color: rgba(22, 22, 28, 0.8);
}

  #buttons:hover{

    background-color:rgba(56, 45, 79, 0.727);
    color:black;
  }